mixin project(name, link, imgSrc, comment)
 .project
    h4!= name
    if comment
      small= comment
    figure
      a(href=link target="_blank")
        img(src=imgSrc alt=name)
      figcaption
        if block
          block

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="css/style.css")
    title Данила Гринберг — Frontend-разработчик
  body
    .intro
      | Приветствую! Меня зовут
      h1 Данила Гринберг.
      p.
        Я #[strong frontend-разработчик] с 4+ годами опыта. Живу в Ереване.
        #[span.important Ищу удаленную работу]
      img.me(src="./img/me.jpg" alt="Мое фото")

    h2 Стек технологий, с которыми чаще всего работаю:
    ul
      li React
      li Sass/SCSS (БЭМ, PostCSS, CSS Modules)
      li JavaScript (ES6+, TypeScript)
      li Webpack, Gulp
      li Юнит-тесты (Jest, Testing Library)
      li git, GitHub

    h2 Опыт работы
    ul.timeline
      li
        h3
          strong Фриланс
          |  // Ноябрь 2017 — Февраль 2020
        p.no-margin С чем работал:
        ul.inline
          li #[i.marked HTML]
          li #[i.marked Sass]
          li #[i.marked Flexbox]
          li #[i.marked JavaScript]
          li #[i.marked jQuery]
          li #[i.marked media-queries]
          li #[i.marked PHP]
        p.
          Делал адаптивную верстку лендингов и многостраничных сайтов. #[br]
          Настраивал метрики. Писал небольшие скрипты на PHP.
        p.
          За это время я поработал с такими компаниями
          #[br.sm-only] как 
          #[a(href="https://levi.com/US/en_US/" target="_blank") LEVI's],
          #[a(href="https://mi.com/ru" target="_blank") Xiaomi],
          #[a(href="http://divico.ru/" target="_blank") Divico],
          и 
          #[a(href="https://www.stoloto.ru/" target="_blank") Столото]. #[br]

          #[span.hide-print Вот несколько проектов, которые я сделал:]

        .projects.hide-print

          +project(
            "LEVI's Music Project",
            "http://levismusicproject.ru",
            "img/levis-music-project.jpg"
          )
            | Сверстал из PSD,        #[br]
            | написал всю логику,     #[br]
            | прикрутил слайдеры,     #[br]
            | сделал валидацию формы, #[br]
            | настроил отправку данных в 
            a(href="https://developers.google.com/sheets/api") гугл-таблицы

          +project(
            "MiNote10 x Andrey Berger —<br> Искусство момента в деталях",
            "https://minote10xberger.ru",
            "img/minote10xberger.jpg"
          )
            | Работал над версткой и оптимизацией загрузки страницы:
            ul
              li Уменьшил вес фотографий (в среднем с 10-40МБ до 80-150kB)
              li Реализовал подгрузку плеера по клику по обложке
            br
            | Написал свое всплывающее окно с возомжностью zoom'а 
            | #[br.sm-only] и перемещения #[br]
            | по арт-объектам в качестве 100+МП

          +project(
            "Дизайн-бюро FRBDN",
            "https://frbdn.ru",
            "img/frbdn.jpg"
          )
            | Сделал сайт для моих друзей из FRBDN. #[br]
            | Из исходников: шрифты, графика и 2 PSD макета — 1920px и 768px. #[br]
            br
            | Из интересного:
            ul
              li Cлайдер-портфолио с фильтрами
              li Русская и английская версия
              li Сохранение заявок в гугл-таблицах + отправка на почту
          
          +project(
            "Рекламная кампания Divico",
            "https://persiklover.github.io/divico/public/",
            "img/divico.jpg"
          )
            | Одна из моих первых совместных работ с Divico. #[br]
            | Главная особенность сайта — стилизация под графику игрового автомата.
            br
            br
            | Больше всего понравилось делать анимации появления при скролле и hover-эффекты, #[br]
            | а еще стилизать чекбоксы и ползунки.

          +project(
            "Столото",
            "https://top.stoloto.ru",
            "img/top.stoloto.ru.jpg"
          )
            | Работал с API Столото: #[br]
            | запрашивал актуальные данные о лотереях и выводил их в слайдер #[br]
            br
            | Еще там есть плавный скролл к нужной странице слайдера #[br]
            | и небольшой параллакс-эффект

          +project(
            "Выставка Агропродмаш 2019",
            "https://persiklover.github.io/agroprodmash",
            "img/agroprodmash.jpg"
          )
            | Сверстал, адаптировал, сделал анимацию для бургер-меню.
            br
            br
            | Реализовал подгрузку плеера по клику по обложке, #[br]
            | чтобы сэкономить интернет-траффик пользователей мобильных устройств.
            br
            br
            | Интегрировал виджет для регистрации на мероприятие

      li
        h3
          strong William Reilly School, #[br.sm-only] Преподаватель английского
          |  // Август 2019 — Ноябрь 2019
        p
          | Учил подростков и взрослых, а иногда и самих учителей

      li
        h3
          strong Ведущий Frontend-разработчик
          |  // Март 2020 — Февраль 2022
        small
          | По условиям договора я не могу указывать название компании или делиться скриншотами работ,
          br
          | но я #[i могу] сказать, что это был #[i многостраничный сервис-калькулятор для работы с ценными бумагами].

        p.no-margin Стек технологий проекта:
        ul.inline
          li #[i.marked React (v16.8+)]
          li #[i.marked React Context API]
          li #[i.marked #[a(href="https://ant.design") AntD]]
          li #[i.marked TypeScript]
          li #[i.marked Sass/SCSS]
          li #[i.marked Jest], #[i.marked Testing Library]

        p.
          Писал клиенсткую часть на #[i.marked React]. #[br]
          Связывал логику, выделял части интерфейса #[br]
          в изолированные и переиспользуемые компоненты. #[br]
          Работал над оптимизацией кода, покрывал его #[i.marked unit-тестами].
        p.
          Использовал динамические графики #[a(href="https://charts.ant.design/en") antv] и #[a(href="https://www.anychart.com") anychart] #[br]
          для визуализации статистики.
        p.
          Учет работы велся в #[i.marked Trello] по принципу 
          #[br.sm-only] "одна карточка - одна задача". #[br]
          Выполненные задачи обсуждал с проджект-менеджером и пушил в #[i.marked git].
        p.
          Также на проекте была команда бэкендеров. Они подготовили методы #[br]
          для авторизации и сохранения данных пользователя на странице, #[br]
          а также парсили данные о ценных бумагах с Московской биржи. #[br]
          Работал с #[i.marked REST API]. Читал документацию. Делал запросы на сервер #[br]
          и использовал полученные данные в расчетах.
        p.
          Впоследствии начал руководить небольшой командой фронтендеров. #[br]
          Ставил задачи. Менторил. Делал #[i.marked code-review].

    h2 О себе
    p
      a.github.hide-print(
        href="https://github.com/persiklover"
        target="_blank"
        title="GitHub"
      )
        svg.ico(
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          role="img"
          aria-labelledby="GithubIconTitle"
        )
          title#GithubIconTitle Логотип GitHub
          path(
            stroke="none"
            fill-rule="evenodd"
            d="M8 0C3.6 0 0 3.6 0 8c0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4v-1.4c-2.2.5-2.7-1.1-2.7-1.1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.2 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6 0 1.3-.1 2-.1s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.3.6.8.6 1.5v2.2c0 .2.1.5.6.4C13.7 14.5 16 11.5 16 8c0-4.4-3.6-8-8-8z"
            clip-rule="evenodd"
          )
        | // Мой GitHub 
    p.
      Работаю в VSCode. #[br]
      Для работы с макетами использую Avocode и Figma. #[br]
      Знаком с #[i.marked Markdown] и HTML-шаблонизатором #[i.marked Pug]. Знаю основы #[i.marked PHP]. #[br]
    p.
      Разбираюсь в адаптивной и кроссбразуерной верстке. #[br]
      Люблю семантику и доступные интерфейсы. #[br]
      Знаю, что такое #[code aria-*] атрибуты и зачем они нужны.
    p.
      Пишу на #[i.marked TypeScript] везде, где это возможно. #[br]
      Документирую код с помощью #[i.marked JSDoc]. Дебажу в #[i.marked Chrome Devtools].
    p.
      Умею настраивать конфиги и писать их с нуля. #[br]
      Дружу с #[i.marked Webpack], #[i.marked Gulp], #[i.marked Babel], #[i.marked eslint].#[br]
    p.
      Регулярно пользуюсь #[i.marked Trello] и #[i.marked git]'ом по работе и не только. #[br]
    p.
      В свободное время люблю делать игры. #[br]
      Сейчас, например, активно осваиваю движок Godot.

    h2 Языки
    ul
      li Русский — Родной
      li Английский — C1, без проблем читаю документацию, #[br.sm-only] свободно общаюсь с носителями

    h2 Контакты
    address
      p Быстрее всего я отвечаю в Telegram
      a(href="https://t.me/persiklover" target="_blank") t.me/persiklover

      p Но мне можно написать и на рабочую почту
      a(href="mailto:dannniska@gmail.com" target="_blank") dannniska@gmail.com

    p.incredible-absolutely-phenomenal.hide-print.
      Это резюме можно распечатать через #[kbd Ctrl] + #[kbd P]

    script(src="js/index.js")